.cart{
    padding: 50px;
}
.keranjang{
  height: 100vh;
  /* background-size: cover;
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.b9ibSZL9OnMqzO6i_7LelwHaEK&pid=Api&P=0") */
}
.button{
  border: 0px;
  border-radius: 10px;
  width: 50px;
}
.qty{
  text-align: center;
}
@media only screen and (max-width: 600px) {
    
  }