.eddit{
    background-color: pink;
    border: 5px; 
    border-radius: 10px;
    padding: 20px;
}
.container{
    background-color: gray;
    padding: 15px;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 300px;
    }
  }