.foot{
    display: flex;
    margin-left: 45%;
    gap: 20px;
}
.fotter{
    background-color: #ECE8DD;
}
/* b:hover{
    color: red;
} */
.copy{
        /* background-image: url("https://w0.peakpx.com/wallpaper/340/450/HD-wallpaper-aesthetic-clouds-aesthetic-blue-clouds-samsung-velvet-violet-amoled-black-dark-iphone-night-one-plus-sky-thumbnail.jpg");
    background-size: cover; */
    background-color: #F8F4EA;
    height: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text{
    text-align: center;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .foot{
        margin-left: 35%;
    }
   }
 