.nemu{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.flex-wrap{
    justify-content: center;
}
.carousel-inner{
    /* border: 1px solid black; */
    border-radius: 20px;
    height: 550px;
}
.irr{
    padding: 15px;
    /* background-color: black; */
}
.menn{
    margin-left: 15px;
    margin-right: 5px;
    display: flex;
    gap: 10%;
}
.bell{
    width: 150px;
}
.nem{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;  
    border: 0.5px solid sandybrown;   
    border-radius: 30px;  
    color: wheat; 
    /* width: 400px;
    margin-left: 35%;  */
}
/* .nem:hover{
    background-color: #6B728E;
} */
.card-title{
    color: seagreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .card-title:hover{
} */
.hom{
    /* background-color: wheat; */
    padding: 15px;
    width: 100%;
    height: 100%;
    /* background-color: #474E68; */
    /* background-size: cover; */
    /* background-image: url("https://e1.pxfuel.com/desktop-wallpaper/333/505/desktop-wallpaper-aesthetic-dark-pink-pink-and-black-aesthetic-thumbnail.jpg");   */
    /* background-color: #474E68; */
}
.grey{
    color: grey;
    width: 30px;
    border: 0px;
}
.green{
    color: green;
    width: 30px;
    border: 0px;
}
.ss{
    width: 25px;
    border: 0px;
}
.oton{
    background-color: #474E68;
}
/* .B:hover{
    color: sandybrown;
} */
/* .carousel{
    height: 600px;
} */
@media only screen and (max-width: 600px) {
  }
  