h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.adm{
  /* background-color: #474E68; */
  height: 100%;
  /* background-size: cover;
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.b9ibSZL9OnMqzO6i_7LelwHaEK&pid=Api&P=0") */
}
.text-page{
  font-size: 38px;
  width: 380px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
.pagination{
  width: 400px;
  display: flex;
  margin: auto;
}
/* .adm{
  background-color: black;
  color: orange;
} */
.tablee{
  border: 0px solid silver;
  text-align: center;
}
.colorr{
  color: black;
}
.Noo{
  color: white;
}
.imgs{
  width: 40px;
}
@media only screen and (max-width: 600px) {
   
  }