.container{
    background-color: gray;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
}
.loog{
    padding: 15px;
    padding-top: 8%;
    height: 100vh;
    /* background-size: cover;
    background-image: url("https://i.pinimg.com/originals/25/e5/a0/25e5a010b56be48ba336f47bd0043ef0.png") */
}
.buat{
    text-decoration: none;
    border-radius: 15%;
    padding: 3px;
    margin-top: 10%;
    background-color: gray;
    color: black;
}
.buat:hover{
    background-color: black;
}
.mass{
    display: flex;
    gap: 40%;
    margin-left: 35%;
}
.fott{
    padding: 15px;
    display: flex;
    gap: 15%;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 350px;
    }
  }