.navbar{
    /* height: 80px; */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRkqQpR7_0-cmaNhXWicMb3zD9Ze198ivfiZ8Scmq47U7vvdBIA7_DVqXucDtyhRVxXx8&usqp=CAU");
    background-size: cover; */
    /* background-color: #6B728E; */
    padding-left: 8%;
    padding-right: 8%;
}
.image{
    width: 4%;
}
.flex-wrap{
    justify-content: center;
}
thead{
    background-color: darkgray;
    text-align: center;
}
.daldal{
    background-color: sandybrown;
}
.NN{
    font-family: cursive;
}
/* .NN:hover{
   color: wheat;
} */
@media only screen and (max-width: 600px) {
    .navbar{
        /* background-color: wheat; */
    }
  }