.gamb{
    border-radius: 20%;
    /* border: 1px solid black; */
}
.mb-3{
    display: flex;
    gap: 10px;
    /* padding-top: 10px; */
}
.card-title{
    text-align: center;
    margin-top: 10px;
}
.text{
    margin-top: 25px;
}
/* .pati{
    padding: 10px;
} */
.hits{
    margin-left: 18%;
    margin-right: 16%;
    padding: 15px;
    padding-top: 8%;
}
.prof{
    height: 100vh;
    /* background-color: #90A17D; */
    background-size: cover;
    background-image: url("https://i.pinimg.com/originals/25/e5/a0/25e5a010b56be48ba336f47bd0043ef0.png")
    
    /* background-image: url("https://tse3.mm.bing.net/th?id=OIP.b9ibSZL9OnMqzO6i_7LelwHaEK&pid=Api&P=0"); */
}
/* .card-title{
    text-align: center;
} */
.like{
    display: flex;
    margin-left: 50%;
}
.mx1{
    margin-top: 15px;
    width: 100%;
}
.dal{
    background-color: #557153;
}
.butt{
    border: 0px;
    border-radius: 5px;
    width: 80px;
    height: 35px;
}
.butt:hover{
    background-color: #557153;
    color: white;
}
@media only screen and (max-width: 600px) {
    .cil{
        display: grid;
    }
    .hits{
        /* background-color: skyblue; */
        margin-left: 0px;
        margin-right: 0%;
        border-radius: 15px;
    }
    .gamb{
        margin-right: 5px;
        height: 80%;
    }
  }
