.container{
    background-color: #0A2647;
    padding: 15px;
}
.ress{
    padding: 10%;
    border-radius: 5px;
    background-color: #BFEAF5;
}
.mb-5{
    margin-top: 15%;
    font-family: serif;
}
.mMm{
    color: #0A2647;
}
.logg{
    color: #0A2647;
    text-decoration: none;
    border-radius: 25%;
    border: 1px solid black;
    background-color: #FBC252;
    padding: 5px;
    color: black;
}
.logg:hover{
    border: 0px solid #BFEAF5;
    background-color: #BFEAF5;
}
.batt{
    margin-top: 20px;
    border: 0.5px solid #FBC252;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    background-color: #FBC252;    
}
@media only screen and (max-width: 600px) {
    .ress{
        width: 360px;
    }
  }